
.backgroundImg{

  position: relative;
  width: 100%;
  height: auto;
  padding: 0px;
  top: -25px;
}

.headline{
  color: white;
  font-family: helvetica;
  font-weight: 900;
  position: absolute;
  top: 20%;
  left: 10%;
}

.buttons{
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}

.mainBtn{
  color: white;
  font-family: helvetica;
  background-color: rgba(211,211,211,0);
  width: 200px;
  height: 55px;
  margin-left: 20px;
  margin-right: 20px;
  border: 3px solid white;

}